@font-face {
  font-family: codefont;
  src: url('../static/font-med.ttf');
}
body{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;
}
.card-deck{
width:100vw;
display:flex;
justify-content:center;
}
.card{
width:calc(250px + 10vw);
font-family:codefont;
}
.sign-up-link,.line{
text-decoration:none;
font-family:codefont;
}
button{
font-family:codefont;
}