<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style-home.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <header id="header" class="d-flex flex-column header-form">
        <nav class="navbar">
          <div class="container-fluid ">
            <div class="navbar-brand fs-3 text-white fw-bold">Tech Blog</div>
              <ul class="d-flex tabs my-0">
                  <li class="mx-3 fs-5"><a href="/home" class="text-decoration-none text-white">Home</a></li>
                  <li class="mx-3 fs-5"><a href="/blog" class="text-decoration-none text-white">Blog</a></li>
                  <li class="mx-3 fs-5"><a href="/contact" class="text-decoration-none text-white">Contact us</a></li>
                  <li class="mx-3 fs-5"><a href="/" class="text-decoration-none text-white">Logout</a></li>
              </ul>
          </div>
        </nav>
         <div class="d-flex mt-5 justify-content-center w-100">
            <code class="fs-1 text-white fw-bolder w-50 text-center" style="text-shadow: #000 2px 2px 4px">Write your own blog post</code>
            </div>
    </header>
    <div class="card-deck mt-5 mb-5">
        <div class="card my-auto p-4 border border-dark w-75" >
        <div class="card-body">
            <div class="alert alert-danger flash-msg" role="alert" id="flash-msg" >
                {% with message = get_flashed_messages()|first %}
                    {% if message %}
                     {{ message }}
                    {% endif %}
                {% endwith %}
            </div>
            <form method="POST" action="/blog" enctype="multipart/form-data">
                <div class="mb-3">
                <label for="inputName" class="form-label">Full name</label>
                <input type="text" class="form-control border border-dark" id="inputName" name="name" required>
              </div>
                <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control border border-dark" id="inputEmail" name="email" required>
              </div>
                <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control border border-dark" id="inputPassword" name="password" required>
              </div>
              <div class="mb-3">
                <label for="inputTitle" class="form-label">Title</label>
                <input type="text" class="form-control border border-dark" id="inputTitle" name="title" maxlength="150" required>
              </div>
                <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                  <textarea class="form-control border border-dark" style="height:20vh" id="description" name="description" maxlength="200" required></textarea>
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                  <textarea class="form-control border border-dark" style="height:50vh" id="content" name="content" required></textarea>
              </div>
              <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success mx-auto ">Submit</button>
              </div>
            </form>
        </div>
        </div>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted mt-5">

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © Copyright Azim Ahmed Bijapur 2023
      </div>
      <!-- Copyright -->
    </footer>
    <script>
        var flashMessageContainer = document.querySelector('#flash-msg');
        if (!flashMessageContainer.innerHTML.trim()) {
            flashMessageContainer.style.display = 'none';
        } else {
            flashMessageContainer.style.display = 'block';
        }
        </script>
</body>
</html>